@font-face {
    src: url('../font/font1.ttf');
    font-family: nos;
}

.galeri{
    margin-bottom: 60px;
}

.galeri-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}
.galeri-wrap{
    width: 48%;
    height: 400px;
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.galeri-show{
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 50;
}


.galeri-item{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    cursor: pointer;
}


.galeri-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeri-item video{
    width: 100%;
    height: 100%;
    outline: none;
}


.galeri-hover{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgb(48, 48, 48);
    cursor: pointer;
    z-index: 0;
    transition: all 350ms ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.galeri-hover:hover{
    background: rgb(48, 48, 48,0.7);
    opacity: 1;
    z-index: 1;
}

.galeri-text{
    color: white;
    text-align: center;
    padding: 0 40px;
}

.galeri-text h4{
    font-family: 'Merriweather', serif;
    font-size: 35px;
    letter-spacing: 1px;
}

.galeri-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-align: center;
}

@media (max-width:767px){
    .galeri-wrap{
        width: 100%;
    }
}