

body {
    background-image: url('../img/bg3.jpg');
    background-repeat: repeat;
    overflow-x: hidden;
}

.logo-small {
    display: none;
}

h1, h2.h3, h4, h5 {
    font-family: 'Merriweather', serif;
}

p, small, span, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.store a {
    font-weight: 300;
}

.header-store a {
    font-weight: 300;
    color: #012c3d;
    letter-spacing: 1px;
}

.menu a {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    opacity: 0.8;
}

.navbar a {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
}

.alignRight {
    float: right !important;
}


.header-nav {
    font-family: 'Varela', sans-serif;
    background-color: #8a0505;
    height: 42px;
    flex-wrap: wrap;
    font-size: 12px;
    border-color: transparent;
    
}

.header-nav a {
    color: white;
}

.header a {
    size: 5px;
}

.header-nav a:hover {
    color: rgb(234, 234, 234);
}

.header-store {
    margin-top: 60px;
    text-align: center;
}

.header-store h1 {
    font-weight: 600;
    font-size: 55px;
    color: #8a0505;
}

.content-store {
    margin-top: 50px;
    text-align: center;
}

.card-img-top {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.05);
}

.content-store small {
    font-size: 15px;
}

.content-store p {
    font-size: 15px;
}

.content-store h5 {
    margin-top: 5px;
    font-weight: 700;
    font-size: 30px;
}

.btn-primary {
    border-radius: 0;
    background-color: #012c3d;
    border-color: transparent;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: #012c3d;
    border-color: transparent;
}

.btn-primary::before {
    content: "";
    height: 0;
    position: absolute;
    bottom: 10px;
    width: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 10px solid #012c3d;
    transition: all 0.1s ease-in-out;
}

.btn-primary:hover::before {
    border-top: 10px solid #004b69;
}

.cards {
    transition: all 0.5s ease-in-out;
}

.cards:hover h5 {
    color: #024d6b;
}

.cards:hover .btn-primary {
    background-color: #024d6b;
    border-color: transparent;
}

.cards:hover .btn-primary::before {
    border-top: 10px solid #024d6b;
}

.cards:hover .card-img-top {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.05);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 90px;
    position: absolute;
    z-index: 1;
    top: -31px;
}

.carousel {
    padding-top: 49px;
    font-family: 'Montserrat', sans-serif;
}

.carousel-item {
    height: 600px;
}

.carousel h5 {
    font-size: 90px;
    font-weight: 700;
    position: absolute;
    left: 0;
}

.carousel p {
    width: 600px;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 135px;
    text-align: left;
}

.drk::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
}

.footer {
    height: 400px;
}

.footer-container {
    display: flex;
}

.footer-container2 {
    padding: 0 110px;
    background-color: rgb(227, 168, 41);
}

.footer-left {
    display: flex;
    height: 320px;
    padding-bottom: 20px;
    padding-top: 110px;
    left: -11px;
}

.footer-left a {
    color: rgb(55, 55, 55);
}

.footer-link-container {
    display: flex;
    padding-left: 15px;
}

.footer-link {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.footer-data {
    font-size: 14px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-data img {
    width: 70px;
}

.footer-sosmed {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.lineblack {
    width: auto;
    height: 1px;
    background-color: black;
}

.footer h1 {
    font-size: 30px;
    font-weight: 700;
}

.footer-right {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-block {
    height: 250px;
    width: 320px;
    border-width: 2px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    color: white;
}

.footer-block h5 {
    font-size: 25px;
    font-weight: 700;
}

.footer-block p {
    font-size: 14px;
    font-weight: 300;
}

.footer-block .btn-primary {
    background-color: rgb(36, 36, 36);
    border-color: transparent;
    border-radius: 0;
}

.menu {
    margin-top: 70px;
}

.menu-item {
    display: flex;
    margin-bottom: 50px;
}

.menu-block-lg-right {
    max-width: 75vw;
    position: relative;
    width: 75vw;
    height: 400px;
    background-color: rgb(94, 94, 94);
    margin-left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-block-lg-left {
    max-width: 75vw;
    position: relative;
    width: 75vw;
    height: 400px;
    background-color: rgb(94, 94, 94);
    margin-right: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-block-img-relative {
    position: relative;
}

.menu-block-sm-left {
    position: absolute;
    width: 28vw;
    height: 240px;
    background-color: #012c3d;
    margin-top: 120px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 3vw;
    color: white;
}

.menu-block-sm-left:before {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid #012c3d;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
}

.menu-block-sm-right {
    position: absolute;
    width: 28vw;
    height: 240px;
    background-color: #012c3d;
    margin-top: 120px;
    z-index: 1;
    display: flex;
    padding-right: 3vw;
    text-align: right;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    right: 0;
    margin-right: 160px;
    color: white;
}

.menu-block-sm-right p {
    text-align: right;
}

.menu-block-sm-right:before {
    content: "";
    position: absolute;
    left: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 50px solid #012c3d;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
}

.menu-block-line {
    width: 94%;
    height: 87%;
    border: 1px solid white;
    position: absolute;
}

.menu img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.menu p {
    font-size: 15px;
    width: 250px;
}

.menu a {
    font-size: 15px;
    color: white;
}

.newsletter {
    margin-top: 70px;
    display: flex;
}

.newsletter img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.img-gradient {
    position: relative;
    display: inline-block;
}

.img-gradient:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: -moz-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(184, 13, 13, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(184, 13, 13, 0.5)), color-stop(100%, rgba(0, 47, 75, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(184, 13, 13, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(184, 13, 13, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(184, 13, 13, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 47, 75, 0.5) 0%, rgba(184, 13, 13, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.newsletter-block {
    position: absolute;
    width: 450px;
    height: 280px;
    background: linear-gradient(180deg, #ba0a15 0%,  #8a0505 100%);
    z-index: 1;
    margin-left: 150px;
    margin-top: 175px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
    color: white;
}

.newsletter-block:before {
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    bottom: -30px;
    width: 0;
    border-right: 225px solid transparent;
    border-left: 225px solid transparent;
    border-top: 30px solid #8a0505;
}

.newsletter p {
    width: 250px;
    font-size: 15px;
}

.newsletter .btn-newsletter {
    border-color: transparent;
    background-color: white;
    border-radius: 0;
    width: 100px;
    color: rgb(116, 73, 0);
}

@media (max-width:1200px) {
    .logo {
        display: none;
    }
    .carousel-item {
        height: 500px;
    }
    .footer-container2 {
        padding: 0 40px;
    }
    .footer h1 {
        font-size: 25px;
        font-weight: 700;
    }
    .menu-block-lg-right {
        height: 30%;
    }
    .menu-block-lg-left {
        height: 30%;
    }
    .menu-block-sm-left {
        max-width: 28vw;
        margin-top: 8vw;
        padding-left: 3vw;
    }
    .menu-block-sm-right {
        margin-top: 8vw;
        margin-right: 10vw;
        padding-right: 3vw;
    }
}


.gradient-bg{
    background: -moz-linear-gradient(180deg, rgb(151, 7, 7) 0%, #af0505 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgb(151, 7, 7)), color-stop(100%, #af0505));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, rgb(151, 7, 7) 0%, #af0505 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, rgb(151, 7, 7) 0%, #af0505 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, rgb(151, 7, 7) 0%, #af0505 100%);
    /* ie10+ */
    background: linear-gradient(270deg, rgb(151, 7, 7) 0%, #af0505 100%);
    /* w3c */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff3600', GradientType=1);
    /* ie6-9 */
    color : white;
}

@media (max-width:992px) {
    .logo {
        display: none;
    }
    .carousel-item {
        height: 500px;
    }
    .footer-left {
        height: 450px;
        padding-top: 60px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        left: 0;
    }
    .footer h1 {
        font-size: 25px;
        font-weight: 700;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-block {
        margin: 20px 0;
        height: 200px;
        width: 100%;
        justify-content: flex-start;
    }
    .footer-block h5 {
        font-size: 25px;
        font-weight: 700;
    }
    .footer-block p {
        font-size: 14px;
        font-weight: 300;
    }
    .footer-block .btn-primary {
        background-color: rgb(36, 36, 36);
        border-color: transparent;
        border-radius: 0;
    }
    .footer-data {
        padding-bottom: 10px;
    }
    .menu-block-sm-left {
        max-width: 28vw;
        margin-top: 8vw;
        padding-left: 3vw;
    }
    .menu h1 {
        font-size: 22px;
    }
    .menu p {
        font-size: 12px;
    }
    .menu-block-sm-right {
        height: 20vw;
        margin-top: 4vw;
        margin-right: 15vw;
        padding-right: 3vw;
    }
    .menu-block-sm-right:before {
        border-right: 50px solid #012c3d;
        border-top: 10vw solid transparent;
        border-bottom: 10vw solid transparent;
    }
    .menu-block-sm-left {
        height: 20vw;
        margin-top: 4vw;
        padding-left: 3vw;
    }
    .menu-block-sm-left:before {
        border-left: 50px solid #012c3d;
        border-top: 10vw solid transparent;
        border-bottom: 10vw solid transparent;
    }
    .carousel h5 {
        font-size: 10vw;
        font-weight: 700;
    }
    .carousel p {
        width: 50vw;
        font-size: 2vw;
        font-weight: 400;
        text-align: left;
    }
}

@media (max-width:767px) {
    .content-store {
        margin-top: 2vh;
    }
    .newsletter {
        margin-top: 0;
    }
    .newsletter-block {
        all: unset;
    }
    .newsletter .img-gradient {
        display: none;
    }
    .newsletter-block-700 {
        position: relative;
        width: 100%;
        height: 200px;
        background-color: rgb(70, 70, 70);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 10vw;
        color: white;
    }
    .newsletter-block-700:before {
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        bottom: -5vw;
        width: 0;
        border-top: 5vw solid rgb(70, 70, 70);
        border-right: 49vw solid transparent;
        border-left: 49vw solid transparent;
    }
    .newsletter h1 {
        font-size: 30px;
    }
    .newsletter .btn-newsletter {
        color: white;
        border-color: transparent;
        background-color: rgb(39, 39, 39);
        border-radius: 0;
        width: 100px;
    }
    .newsletter p {
        width: 80vw;
        font-size: 15x;
    }
    .menu .container {
        all: unset;
    }
    .menu-block-sm-right {
        all: unset;
    }
    .menu-block-sm-left {
        all: unset;
    }
    .menu-block-lg-right {
        all: unset;
    }
    .menu-block-lg-left {
        all: unset;
    }
    .menu-item {
        margin-bottom: 0;
        flex-direction: column;
    }
    .menu-item p {
        width: 70%;
        text-align: center;
    }
    .menu-item a{
        color: white;
    }
    .menu-block-line {
        display: none;
    }
    .menu-block-sm-700 {
        position: absolute;
        width: 100%;
        height: 20vw;
        background-color: #012c3d;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }
    .menu-block-sm-700:before {
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        bottom: -15vw;
        width: 0;
        border-top: 5vw solid #012c3d;
        border-right: 49vw solid transparent;
        border-left: 49vw solid transparent;
    }
}

@media (max-width:576px) {
    .store h1{
        font-size: 35px;
    }
    .store a{
        font-size: 13px;
    }
    .btn-newsletter{
        width: 100%;
    }
    .navigation {
        position: sticky;
        top: 0;
        z-index: 100;
    }
    .footer-block {
        margin: 20px 0;
        height: 200px;
        width: 100%;
        justify-content: flex-start;
    }
    .footer-right {
        height: auto;
    }
    .footer-data {
        flex-direction: column;
    }
    .carousel-inner img {
        width: 1000px;
    }
    .carousel h5 {
        font-size: 10vw;
        font-weight: 700;
        left: 0;
    }
    .carousel p {
        width: 70vw;
        font-size: 3vw;
        font-weight: 400;
        text-align: left;
        top: 90px;
    }
    .logo-small {
        display: flex;
    }
    .navbar .container {
        flex-direction: row-reverse;
    }
    .logo-small img {
        width: 20vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .menu-block-sm-700 {
        height: 150px;
    }
    .menu-block-lg-right img {
        height: 70vh;
        object-fit: cover;
    }
    .menu-block-lg-left img {
        height: 70vh;
        object-fit: cover;
    }
    .newsletter-block-700 {
        height: 250px;
    }
    .cards{
        margin-top: 20px;
    }
    body {
        background-image: unset;
    }
}